<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danilafe.planetbackground">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/icon" android:theme="@style/AppTheme">

        <!-- Wallpaper Service -->
        <service android:name=".service.PlanetBackground"
                 android:label="@string/app_name"
                 android:permission="android.permission.BIND_WALLPAPER" >

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/planetbackground" />

        </service>

    </application>

</manifest>
